*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 1440px;
    border: 1px black solid;
}
.div-one{
    background-image: url(./images/futuristic-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}
nav{
    display: flex;
}
.nav-list{
    display: flex;
    color: white;
    list-style: none;
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    justify-content: space-around;
}
.logo{
    padding-left: 120px;
    padding-top: 40px;

}
.btn-in{
    margin-left: 250px;
    margin-top: 30px;
    width: 120px;
    background-color: transparent;
    color: white;
    font-size: 15px;
}
.btn-up{
    margin-top: 30px;
    width: 120px;
    background-color: #f76558;
    color: white;
    font-size: 15px;
}
.body{
    color: white;
    display: flex;
}
.body-left{
    max-width: 50%;
    padding-left: 120px;
    padding-top: 200px;
    font-size: 28px;
}
.h-1{
    text-align: left;
}
.p-1{
    padding-top: 40px;
    font-size: 20px;
    color: gray;
}
.btn-get{
    margin-top: 50px;
    width: 180px;
    height: 50px;
    font-size: 17px;
    color: white;
    background-color: #f76558;

}
.btn-learn{
    margin-left: 30px;
    width: 180px;
    height: 50px;
    font-size: 17px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.body-right{
    max-width: 50%;
    margin-top: 300px;
    margin-left: 270px;
}
.p-2{
   margin-top: 130px;
   margin-left: -70px;
   font-size: 30px;
   width: 300px;
}
.p-2::before{
    content: url(./images/dash.svg);
    margin-left: -40px;
    padding-top: -30px;
}
.p-2::after{
    content: url(./images/nextArrow.svg);
    margin-left: 200px;
}
.div-two{
    height: 800px;
}
.h-2{
    padding-left: 350px;
    padding-top: 120px;
    width: 1100px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.img-list{
    display: flex;
}
.img-one{
    width: 280px;
    height: 330px;
    margin-left: 110px;
    margin-top: 100px;
    blur-width: 300px;
    blur-height: 200px;
}
.img-two{
    width: 280px;
    height: 330px; 
    margin-top: 100px;
    margin-left: 30px;
}
.img-three{
    width: 280px;
    height: 330px; 
    margin-top: 100px;
    margin-left: 30px;
}
.img-four{
    width: 280px;
    height: 330px; 
    margin-top: 100px;
    margin-left: 30px;
}