*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 1440px;
    border: 1px black solid;
}
.div-one{
    background-image: url(./images/futuristic-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}
nav{
    display: flex;
}
.nav-list{
    display: flex;
    color: white;
    list-style: none;
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    justify-content: space-around;
}
.logo{
    padding-left: 120px;
    padding-top: 40px;

}
.btn-in{
    margin-left: 250px;
    margin-top: 30px;
    width: 120px;
    background-color: transparent;
    color: white;
    font-size: 15px;
}
.btn-up{
    margin-top: 30px;
    width: 120px;
    background-color: #f76558;
    color: white;
    font-size: 15px;
}
.body{
    color: white;
    display: flex;
}
.body-left{
    max-width: 50%;
    padding-left: 120px;
    padding-top: 200px;
    font-size: 28px;
}
.h-1{
    text-align: left;
}
.p-1{
    padding-top: 40px;
    font-size: 20px;
    color: gray;
}
.btn-get{
    margin-top: 50px;
    width: 180px;
    height: 50px;
    font-size: 17px;
    color: white;
    background-color: #f76558;

}
.btn-learn{
    margin-left: 30px;
    width: 180px;
    height: 50px;
    font-size: 17px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.body-right{
    max-width: 50%;
    margin-top: 300px;
    margin-left: 270px;
}
.p-2{
   margin-top: 130px;
   margin-left: -70px;
   font-size: 30px;
   width: 300px;
}
.p-2::before{
    content: url(./images/dash.svg);
    margin-left: -40px;
    padding-top: -30px;
}
.p-2::after{
    content: url(./images/nextArrow.svg);
    margin-left: 200px;
}
.div-two{
    height: 800px;
}
.h-2{
    padding-left: 350px;
    padding-top: 120px;
    width: 1100px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.img-list{
    display: flex;
}
.img-one{
    width: 280px;
    height: 330px;
    margin-left: 110px;
    margin-top: 100px;
}
.img-two{
    width: 280px;
    height: 330px; 
    margin-top: 100px;
    margin-left: 30px;
}
.img-three{
    width: 280px;
    height: 330px; 
    margin-top: 100px;
    margin-left: 30px;
}
.img-four{
    width: 280px;
    height: 330px; 
    margin-top: 100px;
    margin-left: 30px;
}
.div-three{
    height: 600px;
    display: flex;
}
.left-img{
    width: 50%;
    height: 450px;
    width: 550px;
    margin-top: 40px;
    margin-left: 110px;
}
.h-3{
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 100px;
    font-size: 60px;
    align-items: center;
}
.p-3{
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 100px;
    line-height: 30px;
    columns: rgb(160, 159, 159);
}
.down-btn{
    margin-top: 40px;
    margin-left: 80px;
    height: 50px;
    width: 160px;
    font-size: 15px;
}
#left-btn{
    background-color: #f76558;
    color: white;
    border: none;
}
#right-btn{
    border:1px solid #f76558;
    color: #f76558;
    background-color: white;
    margin-left: 20px;
}
.div-four{
    height: 850px;
}
.h-4{
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    width: 550px;
    padding-top: 40px;
    margin-left: 110px;
}
.img-1{
    height: 300px;
    width: 250px;
    margin-left: 110px;
    padding: 20px;
}
.line{
    display: flex;
}
.top-img{
    margin-top: 40px;
}
.img-para{
    display: flex;
}
.h-5{
    margin-top: 70px;
}
.h-6{
    margin-top: 30px;
}
.h-7{
    color: #f76558;
    margin-top: 20px;
}
.p-4{
    margin-top: 30px;
}
.btn-d{
    margin-top: 40px;
    width: 120px;
    height: 40px;
    background-color: #f76558;
    color: white;
    border: none;
}
.top{
    display: flex;
}
.left-arrow{
    margin-top: 100px;
    margin-left: 500px;
    padding: 6px;
    height: 50px;
    width: 50px;
    background-color: #cab1ae;
}
.right-arrow{
    margin-top: 100px;
    margin-left: 20px;
    padding: 6px;
    height: 50px;
    width: 50px;
    background-color: #f76558;
}
.div-five{
    height: 900px;
    background-color: black;
}
.h-8{
    color: white;
    padding-top: 50px;
    padding-left: 500px;
    text-align: center;
    font-size: 40px;
    width: 900px;
}
#img-left{
    margin-top: 50px;
    padding-left: 110px;
    height: 500px;
    width: 500px;
}
#img-mid{
    position: relative;
    margin-bottom: -120px;
    padding-left: 60px;
    height: 400px;
    width: 400px;
}
#img-right{
    margin-bottom: -120px;
    padding-left: 60px;
    height: 300px;
    width: 350px;
}
.p-5{
    position: absolute;
    color: gray;
    width: 700px;
    line-height: 25px;
    margin-left: 560px;
    margin-top: 130px;
}
.div-six{
    height: 1000px;
    background-color: black;
}
.bg{
    width: 1300px;
    height: 500px;
    z-index: -1;
    opacity: 0.3;
    margin-top: 20px;
    margin-left: 60px;
}
.h-9{
    color: white;
    font-size: 45px;
    width: 500px;
    margin-top: -400px;
    margin-left: 500px;
    text-align: center;
}
.p-6{
    color: gray;
    margin-left: 550px;
    margin-top: 30px;
    width: 400px;
    text-align: center;
}
.btn-start{
    width: 150px;
    height: 50px;
    margin-left: 670px;
    margin-top: 30px;
    background-color: #f76558;
    color: white;
    opacity: 0.9;
    font-size: large;
}
.down-one{
    margin-top: 170px;
    margin-left: 140px;
}
.p-7{
    color: gray;
    width: 300px;
    margin-top: 20px;
}
.three-img{
    margin-top:  30px;
}
.down-two{
    display: flex;
    margin-top: 170px;
}
.list-one{
    color: gray;
    margin-left: 90px;
    list-style: none;
    line-height: 50px;
    font-size: 15px;
}
.down{
    display: flex;
}
.h-10{
    font-weight: 1000;
    color: white;
}