*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 1440px;
    border: 1px black solid;
}
.div-one{
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/mainBackground.png);
    /* opacity: 0.6; */
    position: relative;
}
nav{
    display: flex;
    padding-top: 30px;
}
.nav-list{
    display: flex;
    list-style: none;
    color: white;
    margin-left: 500px;
    padding-top: 20px;
}
.nav-list li{
    padding-left: 60px;
}
.logo{
    padding: 15px;
    margin-top: -10px;
    margin-left: 100px;
}
hr{
    width: 1250px;
    margin-left: 80px;
}
.h-1{
    color: white;
    font-size: 70px;
    width: 600px;
    margin: 120px 100px;
}
.p-1{
    margin-top: -70px;
    margin-left: 100px;
    line-height: 30px;
    color: rgb(194, 182, 182);
    width: 500px;
}
.btn-1{
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 45px;
    height: 70px;
    width: 200px;
    font-size: 18px;
    background-color: #585ccf;
    color: white;
    border: none;
}
.div-2{
    position: absolute;
    height: 160px;
    background-color: white;
    margin-top: -80px;
    margin-left: 50px;
    width: 1340px;
    border-radius: 30px;
}
.logo-list{
    margin: 40px 90px;
}
.div-3{
    height: 1900px;
    background-color: rgb(241, 241, 241);
}
.h-2{
    padding: 150px 500px;
    font-size: 40px;
    text-align: center;
}
.img{
    width: 280px;
    height: 350px;
    border-radius: 35px;
    margin-left: 180px;
    margin-top: 50px;
}
.img-row{
    display: flex;
}
.three{
    margin-left: 160px;
}
.two{
    margin-left: 170px;
}
.img-box{
    margin-top: 350px;
    margin-left: -220px; 
    width: 180px;
    height: 70px;
    border-radius: 15px;
    background-color: white;
    padding-top: 20px;
    padding-left: 30px;
}

.btn-2{
    background-color: #696dd8;
    color: white;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 15px;
}
.two{
    margin-top: 85px;
}
.three{
    margin-top: 105px; 
}
.four{
    margin-top: 105px; 
}
.five{
    margin-top: 85px;
}
.box1{
    margin-top: 400px;
}
.div-4{
    height: 700px;
    display: flex;
}
.div-left{
    width: 50%;
}
.div-right{
    width: 50%;
}
.behind{
    margin-top: 100px;
    z-index: -1;
    position: relative;
    width: 580px;
    height: 600px;
}
.front{
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 400px;
    margin-top: 120px;
    margin-left: -450px;
    border-radius: 50px;
}
.h-3{
    margin-top: 200px;
    font-size: 60px;
}
.p-2{
    margin-top: 50px;
    width: 550px;
    line-height: 2;
    color: gray;
}
.btn-3{
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: #696dd8;
    border: none;
}
.div-5{
    height: 700px;
    display: flex;
}
.second{
    margin-left: 280px;
}
.img-second{
    margin-left: -530px;
}