* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 1440px;
}
nav{
    background-color: black;
    height: 80px;
    display: flex;
}
.logo{
    padding: 20px;
    margin-left: 100px;
}
.list{
    display: flex;
    color: gray;
    list-style: none;
    margin-left: 200px;
    align-items: center;
}
.list li{
    padding-left: 35px;
}
.log{
width: 120px;
height: 47px;
border-radius: 38px;
margin-left: 300px;
margin-top: 15px;
font-size: 18px;
align-content: center;
background-color: rgb(0, 119, 255);
color: white;
}
.part{
    display: flex;
    height: 700px;
    background-color: black;
}
.right-part{
    max-width: 50%;
}
.left-part{
    max-width: 50%;
    color: white;
    margin-top: 70px;
    margin-left: 70px;
}
.heading{
    font-size: 75px;
}
.image{
    margin-top: 70px;
    margin-right: 55px;
}
.para{
    color: gray;
    font-size: 25px;
    width: 620px;
    text-align: left;
    margin-top: 40px;
}
.left-btn{
    margin-top: 70px;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(0, 140, 255);
    color: white;
    font-size: 18px;
}
.right-btn{
    margin-left: 40px;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: 1px white solid;
}
.div-two{
    display: flex;
    height: 90px;
    background-color: rgb(39, 38, 38);
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;

}
.div-two img{
    height: 50px;
    width: 120px;
    margin-top: 20px;
}
.div-three{
    height: 700px;
    background-color: white;
}