* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 1440px;
    border: 1px black solid;
}
nav{
    background-color: black;
    height: 80px;
    display: flex;
}
.logo{
    padding: 20px;
    margin-left: 100px;
}
.list{
    display: flex;
    color: gray;
    list-style: none;
    margin-left: 200px;
    align-items: center;
}
.list li{
    padding-left: 35px;
}
.log{
width: 120px;
height: 47px;
border-radius: 38px;
margin-left: 300px;
margin-top: 15px;
font-size: 18px;
align-content: center;
background-color: rgb(0, 119, 255);
color: white;
}
.part{
    display: flex;
    height: 700px;
    background-color: black;
}
.right-part{
    max-width: 50%;
}
.left-part{
    max-width: 50%;
    color: white;
    margin-top: 70px;
    margin-left: 70px;
}
.heading{
    font-size: 75px;
}
.image{
    margin-top: 70px;
    margin-right: 55px;
}
.para{
    color: gray;
    font-size: 25px;
    width: 620px;
    text-align: left;
    margin-top: 40px;
}
.left-btn{
    margin-top: 70px;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(0, 140, 255);
    color: white;
    font-size: 18px;
}
.right-btn{
    margin-left: 40px;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: 1px white solid;
}
.div-two{
    display: flex;
    height: 90px;
    background-color: rgb(39, 38, 38);
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;

}
.div-two img{
    height: 50px;
    width: 120px;
    margin-top: 20px;
}
.div-three{
    height: 700px;
    width: 100%;
    background-color: white;
}
.h-2{
    margin-top: 100px;
    margin-left: 300px;
    font-size: 55px;
}
.p-2{
    width: 600px;
    margin-left: 420px;
    margin-top: 50px;
    text-align: center;
    color: gray;
}
.box{
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
}
.fast{
    margin-top: 150px;
    margin-left: -180px;
    border: 1px gray solid;
    border-radius: 30px;
    width: 350px;
    height: 350px;
    padding-left: 100px;
    padding-top: 20px;
}
.signal{
    margin-top: 80px;
    margin-left: 20px;
    border: 1px gray solid;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 350px;
    height: 350px;
    padding-left: 100px;
    padding-top: 20px;
}
.heart{
    margin-top: 150px;
    margin-right: 50px;
    border: 1px gray solid;
    border-radius: 30px;
    width: 350px;
    height: 350px;
    padding-left: 100px;
    padding-top: 20px;
}
.fast-h{
    margin-left: -40px;
    margin-top: 30px;
    font-size: 22px;
}
.signal-h{
    margin-left: -50px;
    margin-top: 30px;
    font-size: 22px;
}
.heart-h{
    margin-left: -30px; 
    margin-top: 30px;
    font-size: 22px; 
}
.fast-p{
    text-align: center;
    margin-left: -20px;
    margin-top: 20px;
    width: 200px;
}
.signal-p{
    text-align: center;
    margin-top: 20px;
    margin-left: -30px;
    width: 200px;
}
.heart-p{
    text-align: center;
    margin-top: 20px;
    margin-left: -30px;
    width: 200px;
}
.fast-img{
    width: 80px;
    margin-left: 25px;
}
.signal-img{
    width: 80px;
    margin-left: 25px;
}
.heart-img{
    width: 80px;
    margin-left: 25px;
}
.div-four{
    height: 750px;
}
.h-3{
    margin-left: 110px;
    padding-top: 100px;
    font-size: 50px;
    font-weight: 550;
    width: 1000px;
}
.two-lists{
    display: flex;
}
.left-list{
    max-width: 50%;
    margin-top: 30px;
    margin-left: 110px;
    list-style: none;
    width: 500px;
}
.right-list{
    max-width: 50%;
    margin-top: 50px;
    margin-left: 100px;
    border: 1px black solid;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 380px;
}
.left-list li{
    list-style: none;
    border: 1px rgb(155, 154, 154) solid;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.left-list li:first-child{
    background-color: rgb(0, 153, 255);
    color: white;
}
.l-li:first-child:after{
    content: url(./images/Group\ 238511.svg);
    position: absolute;
    right: 0;
    margin-top: -10px;
    margin-right: 20px;
}
.right-list li{
    list-style: none;
    border: 1px black solid;
    background-color: rgb(48, 46, 46);
    border-radius: 40px;
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 7px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.l-li{
    padding: 20px;
    position: relative;
}
.l-li:nth-child(n+2):after{
    content: url(./images/Group\ 238512.svg);
    position: absolute;
    right: 0;
    margin-top: -10px;
    margin-right: 20px;
}
.r-li{
    padding: 50px;
    position: relative;
}
.r-li::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    left: 0;
    margin-left: 26px;
}
.div-five{
    background-color: black;
    height: 1000px;
}
.up-div{
    display: flex;
    justify-content: space-around;
}
.h-4{
    max-width: 70%;
    color: white;
    /* margin-top: 10px; */
    margin-left: 0px;
    width: 800px;
    align-self: center;
    font-size: 50px;
    text-align: center;
}
.left-arrow{
    max-width: 15%;
    margin-top: 150px;
    margin-left: 200px;
    height: 110px;
}
.right-arrow{
    max-width: 15%;
    margin-right: 200px;
    margin-top: 150px;
    height: 110px;
}
.down-div{
    display: flex;
}
.left{
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    height: 620px;
    padding: 40px;
    width: 500px;
    border-radius: 40px;
    line-height: 1.6
}
.mid{
    background-color: rgb(0, 153, 255);
    color: white;
    width: 500px;
    height: 620px;
    margin-top: 50px;
    margin-right: 50px;
    padding: 40px;
    border-radius: 40px;
    line-height: 1.6
}
.right{
    background-color: white;
    margin-top: 50px;
    margin-right: 100px;
    height: 620px;
    padding: 40px;
    width: 500px;
    border-radius: 40px;
    line-height: 1.6
}
.list-one{
    margin-top: 50px;
    line-height: 40px;
}
.list-one li{
    list-style: none;
}
.left .list-one li::before{
    content: url(./images/blue-tick.svg);
    padding: 5px;
}
.right .list-one li::before{
    content: url(./images/blue-tick.svg);
    padding: 5px;
}
.mid .list-one li::before{
    content: url(./images/white-tick.svg);
    padding: 5px;
}
.down-btn{
    margin-top: 40px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
}
.mid .down-btn{
    color: rgb(0, 153, 255);
}
.left .down-btn{
    background-color: rgb(0, 153, 255);
    color: white;
}
.right .down-btn{
    background-color: rgb(0, 153, 255);
    color: white;
}